@font-face {
    font-family: livvic;
    src: url(../../fonts/Livvic-Regular.ttf);
}

@font-face {
    font-family: livvic-light;
    src: url(../../fonts/Livvic-Light.ttf);
}

@font-face {
    font-family: livvic-thin;
    src: url(../../fonts/Livvic-Thin.ttf);
}

@font-face {
    font-family: livvic-medium;
    src: url(../../fonts/Livvic-Medium.ttf);
}

@font-face {
    font-family: livvic-semibold;
    src: url(../../fonts/Livvic-SemiBold.ttf);
}

@font-face {
    font-family: livvic-bold;
    src: url(../../fonts/Livvic-Bold.ttf);
}